@import "../variables";
@import "../mixins";
.registration-step3 {
  width: 100%;
  @include flexCenter;
  //height: $blockHeight;

  &__wrapper {
    @include flexCenter;
    width: 100%;
    max-width: 500px;
  }

  &__title {
    @include robotoLight;
    width: 300px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-top: $baseMargin;
  }

  &__form {
    width: 100%;
    padding: 0 30px;
    margin: 30px 0;

    &-select {
      @include select;
    }
    &-block-title {
      @include robotoBold;
      color: $black;
      margin-bottom: $baseMargin - 10;
    }

    &-title {
      @include robotoRegular;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-top: $baseMargin;
      margin-bottom: $baseMargin;
    }

    @include wrapperInput;
    @include textField;
    @include errorInput;

    &-gender-wrapper {
      display: flex;
      margin-bottom: $baseMargin;
      justify-content: space-between;
    }

    &-radio {
     @include radioButton;
    }


    &-radio-label {
     @include radioLabel;
    }

    &-radio-input:checked + label {
      @include radioButtonChecked;
    }

    &-checkbox {
      &-wrapper {
        margin-bottom: $baseMargin;
      }
      &-input {
        display: none;
        &:checked + label {
          &::before,
          &::after {
            position: absolute;
            content: "";
            height: 1px;
            background-color: $borderColor;
          }
          &::before {
            width: 10px;
            transform: rotate(-45deg);
            top: 0.6em;
            left: 6px;
          }
          &::after {
            width: 6px;
            transform: rotate(45deg);
            top: 11px;
            left: 3px;
          }
        }
      }

      &-label {
        position: relative;
        & span {
          display: block;
          padding-left: 40px;
          color: $textGray;
          &::before,
          &::after {
            position: absolute;
            content: "";
            left: 0;
          }
          &::before {
            width: 20px;
            height: 20px;
            border: 1px solid $borderColor;
            border-radius: 4px;
          }
        }
      }
    }
  }


  &__btn-submit {
    @include link-btn;
    width: 100%;
    margin-bottom: $baseMargin + 10;
    outline: none;
  }

}

@media (min-width: 600px) {
  .registration-step3 {
    &__form {
      padding: 0 60px;
      @include blockShadow;
    }
    &__title {
      width: 100%;
      font-size: 36px;
      margin-top: 70px;
    }
  }
}

