@import "../variables";
@import "../mixins";

.registration-step1 {
  @include flexCenter;
  width: 100%;

  &__wrapper {
    @include flexCenter;
    width: 100%;
    max-width: 500px;

  }

  &__title {
    @include robotoLight;
    width: 300px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-top: $baseMargin;
  }

  &__form {
    width: 100%;
    padding: 0 60px;
    margin: 30px 0;


    &-title {
      @include robotoRegular;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-top: $baseMargin;
      margin-bottom: $baseMargin;
    }

    @include wrapperInput;
    @include textField;
    @include errorInput;

    &-gender-wrapper {
      display: flex;
      margin-bottom: $baseMargin;
      justify-content: space-between;
    }

    &-radio {
      @include radioButton;
    }

    &-radio-label {
      @include radioLabel;
    }

    &-radio-input:checked + label {
      @include radioButtonChecked;
    }

    @include checkboxButton;
  }

  &__btn-submit {
    @include link-btn;
    width: 100%;
    margin-bottom: $baseMargin + 10;
    outline: none;
  }
}

@media (min-width: 600px) {
  .registration-step2 {
    &__title {
      width: 100%;
      font-size: 36px;
      margin-top: 70px;
    }
    &__form {
      @include blockShadow;
    }
  }
}
