@import "../variables";
@import "../mixins";
.registration-step4 {
  width: 100%;
  @include flexCenter;
  height: $blockHeight;

  &__wrapper {
    @include flexCenter;
    width: 100%;
    max-width: 500px;
  }

  &__title {
    @include robotoLight;
    width: 300px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-top: $baseMargin;
  }

  &__form {
    width: 100%;
    padding: 0 60px;
    margin: 30px 0;
    &-title {
      margin-bottom: $baseMargin;
    }
    @include wrapperInput;
    @include textField;
    @include errorInput;
  }
    &__btn-submit {
      @include link-btn;
      width: 100%;
      margin-bottom: $baseMargin + 10;
      outline: none;
    }
}
