@import "../variables";
@import "../mixins";

.agreements {
  &__list {
    @include blockShadow;
    //padding: 40px 60px;
    display: flex;
    flex-direction: column;
    //align-items: center;
    list-style: none;
    padding: 58px 64px 64px 64px;
    margin: 49px 0 0;
  }

  &__item {
    @include robotoRegular;
    padding-bottom: 30px;
    position: relative;
    text-align: left;
    color: #207bc6;
    font-size: 18px;
    cursor: pointer;

    &::before,
    &::after {

      position: absolute;
      content: "";
      background-color: #c2c2c2;
      height: 1px;
      width: 7px;
      top: 5px;
    }

    &::before {
      transform: rotate(45deg);
      right: 4px;
    }

    &::after {
      transform: rotate(-45deg);
      right: 0;
    }
    &--selected {
      &::before {
        transform: rotate(135deg);
      }
      &::after {
        transform: rotate(-135deg);
      }
    }
  }
  &__info {
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      &:nth-of-type(1) {
        margin-top: 20px;
      }
      margin-bottom: 6px;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

    }
    &-data {
      color: #737373;
      @include robotoRegular;

    }
  }
}
