@import "../variables";
@import "../mixins";
@import "./appeal.scss";
.cabinet-feedback {
  &__title {
    text-align: center;
    font-size: 26px;
    color: $textContent;
  }
  &__wrapper {
    margin-top: $baseMargin;

    max-width: 500px;
  }
}
