@import "../variables";
@import "../mixins";
@import "./agreements";

.history {
  width: 100%;
  display: flex;
  justify-content: center;

  &__title {
    @include robotoThin;
    text-align: center;
    font-size: 26px;
    color: $textContent;
    margin-top: 20px;
    letter-spacing: 0.03em;
  }

  &__wrapper {
    //margin-top: $baseMargin;
    width: 510px;

  }
}
