@import "./variables";
@import "./mixins";

.about-company {
  padding: 30px;

  &__title {
    @include robotoThin;
    color: $black;
    font-size: 40px;
    text-align: center;

    &-text {
      margin-top: $baseMargin;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
      color: $textContent;
    }
  }

  &__img-wrapper {
    margin-top: $baseMargin;
    display: flex;
    justify-content: center;
  }

  &__advantages {
    &-title {
      margin-top: $baseMargin;
      font-size: 22px;
      color: $black;
      text-align: center;

      &-text {
        margin-top: $baseMargin;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        color: $textContent;
      }
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-top: $baseMargin;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:not(:nth-of-type(1)) {
        margin-top: $baseMargin;
      }

      &-title {
        font-size: 40px;
        color: $black;
      }

      &-text {
        font-size: 16px;
        margin-top: 5px;
      }
    }

    &-next {
      &-list {
        margin-top: 30px;
        padding: 0;
        list-style: none;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #f2f2f2;
        padding: 20px;

        &:not(:nth-of-type(1)) {
          margin-top: $baseMargin;
        }

        &-title,
        &-text {
          color: $textContent;
        }

        &-title {
          font-size: 20px;
        }

        &-text {
          margin-top: $baseMargin - 10;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  &__corporate {
    &-symbols-wrapper {
      margin-top: $baseMargin;
    }

    &-img-wrapper {

      display: flex;
      justify-content: center;
    }
  }

  &__achievements {
    margin-top: $baseMargin;

    &-title {
      color: $textContent;
      font-size: 22px;
      text-align: center;
    }

    &-text {
      color: $textContent;
      text-align: center;
      margin-top: $baseMargin;
    }
  }

  & .slick-slider {
    margin-top: $baseMargin;
  }

  & .slick-list {
    height: auto;
  }

  &__slider-item {
    display: flex !important;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .about-company {
    &__wrapper {
      max-width: 1366px;
      margin: 0 auto;
    }

    &__title {
      &-text {
        max-width: 800px;
        padding-top: 30px;
        margin: 0 auto;
      }
    }

    &__advantages {
      &-title {
        &-text {
          max-width: 800px;
          padding-top: 30px;
          margin: 0 auto;
        }
      }

      &-list {
        display: flex;
        justify-content: space-around;
      }

      &-item {
        align-items: flex-start;

        &:not(:nth-of-type(1)) {
          margin-top: 0;
        }
      }

      &-next {
        &-list {
          display: flex;
        }

        &-item {
          &:not(:nth-of-type(1)) {
            margin-top: 0;
          }

          &:not(:nth-last-of-type(1)) {
            margin-right: $baseMargin;
          }
        }
      }
    }

    &__corporate-symbols {
      &-wrapper {
        display: flex;
        padding: 0 40px;


      }
      &-img-wrapper {
        width: 50%;
      }

      &-text {
        &-wrapper {
          padding-left: 40px;
          width: 50%;
        }

        //&:nth-of-type(2) {
        margin-top: 40px;

        //}
      }
    }
  }
}
