.address {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    font-family: "Roboto-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &-text {
      font-family: "Roboto-Regular", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #1356CE;
      margin-left: 10px;
    }
  }

  &__btn {

    &-call {
      @include link-btn;
      padding: 10px 20px;
      margin-bottom: 40px;

      &-wrapper {
        width: fit-content;
      }
    }

    &-office {
      @include link-btn;
      padding: 10px 20px;
      background-color: #f2f2f2;
      color: #1356CE;

      &-wrapper {
        width: fit-content;
      }
    }

  }

  &__gps {
    &-one, &-two, &-three {
      display: none;
    }
  }
}

@media(min-width: 1024px) {
  .address {
    padding: 100px 50px;

    &__wrapper {
      width: 100%;
      position: relative;
    }

    &__title {
      font-size: 36px;
      line-height: 42px;
    }

    &__btn {
      &-call {
        padding: 15px 30px;
        margin-bottom: 30px;
      }

      &-office {
        padding: 15px 30px;
      }
    }

    &__gps {
      &-one, &-two, &-three {
        display: block;
        position: absolute;
      }

      &-one {
        top: 0;
        right: 0;
      }

      &-two {
        top: 100px;
        right: 550px;
      }

      &-three{
        top: 150px;
        right: 200px;
      }
    }
  }
}

@media(min-width: 1366px) {
  .address {
    align-items: center;
    &__wrapper {
      max-width: 1266px;
    }
  }
}