.advantages-company {
  padding: 50px 20px;

  &__title {
    @include robotoLight;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: black;
    margin-bottom: 30px;
  }

  &__list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-top: 20px;

    &-title {
      @include robotoLight;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.66px;
      color: #000000;
      margin-bottom: 10px;
    }

    &-content {
      @include robotoRegular;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #4C4C4C;
      margin-bottom: 40px;

      &-comment {
        background: #F4F4F4;
        padding: 30px;
        border-radius: 20px;

        &-text {
          @include robotoRegular;
          font-style: normal;
          font-weight: 300;
          font-size: 19px;
          line-height: 22px;
          color: #4C4C4C;
        }

        &-name {
          text-align: right;
          @include robotoRegular;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          margin-top: 10px;
        }
      }
    }

    &-block {
      &-title {
        @include robotoLight;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        margin-bottom: 10px;
      }
    }

    &-text {
      @include robotoRegular;
      color: #4c4c4c;
      line-height: 1.2;
      margin-top: 10px;
      letter-spacing: .03em;
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  &__block {
    &-list {
      padding-left: 20px;
      list-style: none;
      margin: 20px 0;
    }
    &-item {
      @include robotoRegular;
      color: #4c4c4c;
      line-height: 1.2;
      position: relative;
      &:not(:nth-last-of-type(1)) {
        margin-bottom: 20px;
      }

      &:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #cccccc;
        display: block;
        position: absolute;
        left: -18px;
        top: 6px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .advantages-company {
    padding: 100px 50px;
    margin-bottom: 0;

    &__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__item {
      width: 48%;
    }
  }
}

@media (min-width: 1366px) {
  .advantages-company {
    &__wrapper {
      flex-wrap: nowrap;
    }
    &__item {
      max-width: 100%;
      //width: 40%;
    }

    &__list {
      max-width: 1266px;
    }
  }
}
