//.calc {
//  &__slider {
//    margin-top: 30px;
//
//    &-text {
//      padding: 0 30px;
//      text-align: center;
//      @include robotoRegular;
//    }
//  }
//}
//
//.slick {
//  &-track {
//    display: flex;
//  }
//
//  &-list {
//    overflow-x: hidden;
//  }
//
//  &-arrow {
//    display: none !important;
//  }
//
//  &-dots {
//    list-style: none;
//    display: flex !important;
//    justify-content: center;
//    padding: 0;
//
//    & .slick-active {
//      & button {
//        background-color: #b3b3b3;
//      }
//    }
//
//    & li {
//
//      & button {
//        width: 20px;
//        height: 20px;
//        border: none;
//        border-radius: 50%;
//        outline: none;
//        background-color: #e5e5e5;
//        color: transparent;
//      }
//
//      &:not(:nth-last-of-type(1)) {
//        margin-right: 20px;
//      }
//    }
//  }
//}


