.react-dadata {
  &__container {
    position: relative;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;

    &:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(255, 154, 0, 0.1);
      border-color: #FF931E;
    }
  }

  &__suggestions {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 1px 6px 3px rgba(0, 0, 0, .1);
    top: 100%;
    left: 0;
    right: 0;
  }

  &__suggestion-note {
    font-size: 14px;
    color: #828282;
    padding: 10px 10px 5px 10px;
  }

  &__suggestion {
    font-size: 15px;
    padding: 7px 10px;
    cursor: pointer;

    &--current {
      background-color: #FFF5E7;
    }

    &:hover {
      background-color: #FFF9F0;
    }
  }

  &--highlighted {
    color: #E5841C;
  }
}

.react-dadata mark {
  background: none;
}
