@import "./variables";
@import "./mixins";

.footer {
  padding-bottom: 35px;

  &__wrapper {
    padding: 15px 30px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    background-color: #e9e9e9;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &-title {

      @include robotoLight;
      cursor: pointer;
      color: #565f66;
      outline: none;
      margin-bottom: 20px;
      text-align: center;
    }

    &:nth-of-type(1) {
      margin-top: 30px;
    }

    &-info {
      width: 100%;
      text-align: center;
      position: relative;
      padding: 30px 0;

      &::before {
        position: absolute;
        content: "";
        width: calc(100% + 20%);
        height: 2px;
        top: -10px;
        left: -10%;
        background-color: #e5e5e5;
      }

      &-text {
        @include robotoLight;
        text-align: center;
        padding: 0 40px;

        line-height: 1.3;
        color: #76828c;
        font-size: 12px;

        &:nth-of-type(1) {
          margin-bottom: 40px;
          text-transform: uppercase;
        }

        &:not(:nth-of-type(1)) {
          text-align: left;
        }
      }
    }
  }

  &__logo-wrapper {
    width: 120px;
    margin-bottom: 20px;

    & a {
      color: transparent;
    }

  }

  &__list {
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    &-menu {
      padding: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-link {
      color: $textGray;
      text-align: center;
    }
  }

  &__social {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0 10px;
      width: 100%;
      margin-bottom: 20px;
    }

    &-link {
      width: 45px;
      display: block;
    }
  }

  &__link-out {

    @include link-btn;
    padding-top: 20px;
    padding-bottom: 21px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .footer {
    &__wrapper {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;

    }

    &__item {
      flex-direction: row;

      &:not(:nth-last-of-type(1)) {
        margin-bottom: 15px;
      }

      &-link {
        text-align: left;
      }
    }

    &__block {
      align-items: flex-start;
      width: 300px;
      margin-right: 60px;

      &-menu {
        width: 300px;
      }

      &:nth-of-type(1) {
        margin-top: 0;
      }

      &-title {
        text-align: left;
      }

      &-text {
        text-align: left;
        margin-top: 10px;

        &::before {
          content: none;
        }
      }
    }

    &__list-menu {
      padding: 0;
    }

    &__link-out {
      width: 300px;
      align-self: center;
    }

    //&__social-list {
    //  display: none;
    //}
  }
}

@media (min-width: 1024px) {
  .footer {
    &__wrapper {
      max-width: 1266px;
      padding: 15px 0 30px;
    }
  }
}