@import "./variables";
@import "./mixins";
.footer-other-page {
  padding: 0 30px;
  padding-top: 30px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    background-color: #e9e9e9;
  }

  &__logo-wrapper {
    width: $otherFooterPage;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-text {
      text-align: center;
      position: relative;
      margin-top: 30px;
    }
  }
}
