@import "./variables";
@import "./mixins";

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  //margin-top: 100px;
  //overflow: hidden;
  overflow: scroll;

  &__wrapper {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    //height: 100%;
    width: 100%;
  }

  &__logo-wrapper {
    width: 100px;
  }

  &__user-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";
      background-color: #e5e5e5;
      width: 100%;
      height: 1px;
      left: 0;

    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -30px;
    }
  }

  &__user-item {
    &-img {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #e5e5e5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      //& svg {
      //  width: 52px;
      //}
    }

    &-text {
      @include robotoRegular;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #777;
      //padding: 0 30px;
    }
  }

  &__contact {
    &-telephone {
      display: block;

      &:nth-of-type(2) {
        margin-top: 10px;
      }
    }

    &-text {
      margin-top: 10px;
      @include robotoRegular;
      font-size: 16px;
      line-height: 16px;
      color: #777;
    }
  }

  &__list {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
  }

  &__block {
    //&:not(:nth-last-of-type(1)) {
    margin-bottom: 10px;
    //}

    &-title {
      @include robotoThin;
      color: #005193;
      outline: none;
      margin-bottom: $baseMargin - 15;
      position: relative;
      &::after,
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        background-color: rgb(119, 119, 119);
        height: 1px;
        width: 8px;
      }
      &::before {
        right: 5px;
        transform:rotate(45deg);

      }
      &:after {
        right: 0;
        transform:rotate(-45deg);
      }
    }
  }

  &__item {
    padding: 18px 0;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #cccccc;
      left: 0;
      bottom: 0;
    }

    //&:not(:nth-last-of-type(1)) {
    //  margin-bottom: 5px;
    //}

    &-link {
      @include robotoLight;
      //color: #005193;
      color: rgb(0, 0, 238);
      text-decoration: underline;


    }
  }

  & .selected {
    color: rgb(119, 119, 119);
    &::before {
      transform: rotate(135deg);
    }
    &::after {
      transform: rotate(-135deg);
    }
  }

  &__contact {
    &-wrapper {

      margin-top: auto;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        background-color: #e5e5e5;
        width: 100%;
        height: 1px;
        left: 0;
        top: 15px;
      }
    }

    &-telephone {
      margin-top: 40px;
      @include robotoLight;
      color: #005193;
      font-size: 26px;
      line-height: 36px;
    }

    &-text {
      font-size: 14px;
    }
  }

  &__block-title {
    //@include robotoLight;
    color: #005193;
  }

  &__list-menu {
    //height: 100% !important;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    //transition: height 1s linear;
  }
}

@media (min-width: 600px) {
  .header-menu {
    width: 400px;
    height: auto;
    right: 50px;
    left: auto;
    overflow: initial;

    &__btn-wrapper {
      margin: 0 0 0 20px;
      width: 30px;
    }
  }
}
