@import "./variables";
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin backend-button {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: $btn-blue;
  border-radius: 5px;
  width: auto;
  border: none;
  outline: none;
  height: 55px;
}

@mixin block-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

@mixin list-format {
  list-style: none;
  padding-left: 0;
}

@mixin block-style {
  background-color: $white;
  padding: 20px;
  width: 30%;
}

@mixin btn {
  z-index: 2;
  position: relative;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  outline: none;
}

@mixin triangle-btn {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: 5px solid transparent;
  border-top: 10px solid $light-grey;
}

@mixin link-btn {
  border-radius: 10px;
  color: $white;
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;
  background-color: #70be43;
  border: none;
  outline: none;
  &:hover {
    background-color: #86d957;
  }
  &:focus {
    background-color: #5a9936;
  }
}

@mixin think-btn {
  @include robotoLight;
  border: none;
  color: $lowBlue;
  padding: 0;
  font-size: 18px;
  background: none;
}

@mixin choose-btn {
  @include robotoLight;
  border: none;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: transparent;
  outline: none;
}

@mixin robotoThin {
  font-family: "Roboto-Thin", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  //font-weight: 100;
  letter-spacing: 0.01em;
  color: $textGray;
}

@mixin robotoLight {
  font-family: "Roboto-Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: $textGray;
}

@mixin robotoRegular {
  font-family: "Roboto-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  //font-weight: 400;
  letter-spacing: 0.01em;
  color: $textGray;
}

@mixin robotoBold {
  font-family: "Roboto-Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  //font-weight: 700;
  letter-spacing: 0.01em;
  color: $textGray;
}



@mixin robotoMedium {
  font-family: "Roboto-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: $textGray;
}

@mixin baseWrapperInput {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40px;
  border-radius: 10px;
  border: 1px solid $borderColor;
  padding: 5px 10px;
  margin-bottom: 20px;
}

@mixin wrapperInput {
  &-field {
    &-wrapper {
      @include baseWrapperInput;
    }
  }
}

@mixin errorInput {
  &-input {
    &-error {
      color: $errorColor;
      margin-bottom: $baseMargin - 10px;
    }
  }
}

@mixin input {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  padding: 0 0 0 5px;
  color: $textGray;
  text-overflow: ellipsis;
  @include robotoRegular;

  &:focus {
    height: 20px;
    top: 25px;

    & + label {
      top: 5px;
      font-size: 8px;
      height: 10px;
      transition: all 0.2s ease-in;
    }
  }
}

@mixin textField {
  &-text,
  &-password {
    &-input,
    &-label {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include robotoRegular;
    }

    &-input {
      @include input;
    }

    &-label {
      z-index: -1;
      color: $textGray;
    }

    &-wrapper {
      &--full {
        & input {
          height: 20px;
          top: 25px;
        }

        & label {
          top: 5px;
          font-size: 8px;
          height: 10px;
          transition: all 0.2s ease-in;
        }
      }

      &--error {
        margin-bottom: 20px;

        .wrapper {
          border-color: $errorColor;
          z-index: 3;
        }

        & label,
        & input {
          color: $errorColor;
        }
      }
    }
  }
}

@mixin textArea {
  &-textarea {
    &-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-start;
      border-radius: 10px;
      border: 1px solid $borderColor;
      padding: 5px 10px;
      margin-bottom: 20px;
      width: 100%;
      height: 100px;
    }

    &-input {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100px;
      border: none;
      background: transparent;
      resize: none;

      @include robotoRegular;

      &:focus {
        outline: none;
        overflow-y: hidden;
      }
    }

    //&-wrapper {
    //  &--full {
    //    & input {
    //      height: 100px;
    //      top: 30px;
    //    }
    //
    //    & label {
    //      top: 10px;
    //      font-size: 8px;
    //      height: 10px;
    //      transition: all 0.2s ease-in;
    //    }
    //  }

    //&--error {
    //  margin-bottom: 20px;
    //
    //  .wrapper {
    //    border-color: $errorColor;
    //    z-index: 3;
    //  }
    //
    //  //& label,
    //  & input {
    //    color: $errorColor;
    //  }
    //}
    //}
  }
}

@mixin blockShadow {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1),
  -1px -1px 15px 0 rgba(0, 0, 0, 0.1);
}

@mixin ellipsisText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin radioButton {
  &-input {
    display: none;
  }
  &-block-wr {
    display: flex;
    justify-content: space-between;
    margin-bottom: $baseMargin;
  }
}


@mixin radioLabel {
  position: relative;
  padding-left: 40px;
  line-height: 20px;
  color: $textGray;
  display: block;
  height: 20px;

  & span {
    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
    }

    &::before {
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $borderColor;
    }
  }
}

@mixin radioButtonChecked {
  span {
    &::before {
      border-color: $radioColor;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $radioColor;
      top: 50%;
      left: 6px;
      transform: translateY(-50%);
    }
  }
}

@mixin checkboxButton {
  &-checkbox {
    &-wrapper {
      margin-bottom: $baseMargin;
    }

    &-input {
      display: none;

      &:checked + label {
        &::before,
        &::after {
          position: absolute;
          content: "";
          height: 1px;
          background-color: $borderColor;
        }

        &::before {
          width: 10px;
          transform: rotate(-45deg);
          top: 0.6em;
          left: 6px;

        }

        &::after {
          width: 6px;
          transform: rotate(45deg);
          top: 11px;
          left: 3px;
        }
      }
    }

    &-label {
      position: relative;

      & span {
        display: block;
        padding-left: 40px;
        color: $textGray;

        &::before,
        &::after {
          position: absolute;
          content: "";
          left: 0;
        }

        &::before {
          width: 20px;
          height: 20px;
          border: 1px solid $borderColor;
          border-radius: 4px;
        }
      }
    }
  }
}

@mixin select {
  &-wrapper {
    position: relative;
    @include baseWrapperInput;
    //margin-bottom: $baseMargin;
    &--error {
      border-color: $errorColor;

      h3 {
        @include robotoRegular;
        color: $errorColor;
      }
    }
  }

  &-title {
    @include robotoRegular;
    position: absolute;
  }

  &-list {
    width: calc(100% + 2px);
    position: absolute;
    top: 30px;
    list-style: none;
    background-color: $white;
    z-index: 5;
    left: -1px;
    border: 1px solid $borderColor;
    border-top: 0;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 10px 10px;

    //padding: 5px;
  }
  &-item {
    @include ellipsisText;
    padding: 10px 0;

    &:hover {
      color: $selectHover;
    }
  }

  &-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    padding: 0;
    outline: none;

    &--active {
      transform: rotate(180deg);
      transform-origin: 50% 35%;
    }

    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 1px;
      background-color: rebeccapurple;

    }

    &::after {
      transform: rotate(45deg);
      left: 5px;
    }

    &::before {
      transform: rotate(-45deg);
      right: 5px;
    }
  }
}

@mixin fileInput {
  &-files-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    border: 1px dashed $borderLight;
    border-radius: 5px;
    padding: 0;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 1px;
      background-color: $black ; // $borderLight;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      top: 51%;
    }

    &::after {
      transform: rotate(90deg);
      left: 45%;
    }

    &--error {
      border: 1px solid $errorColor;
      background: none;

      &::before,
      &::after {
        content: none;
      }
    }
  }
  &-file {
    &-wrapper {
      position: relative;
      width: 60px;
    }

    &-input {
      display: none;
    }

    &-label {
      width: 100%;
      height: 100%;
      display: block;

      & span {
        position: absolute;
        @include robotoRegular;
        font-size: 11px;
        line-height: 14px;
        bottom: -45px;
      }
    }
  }

  &-img-loaded {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  .drag-enter {
    transform: scale(1.3);
    border-color: #3598e8;
  }
  .drag-end {
    border: 3px solid rebeccapurple;
  }
}
