.mobile {
  background: linear-gradient(180deg, #0C3682 0%, #0C0E82 100%);
  padding: 50px 20px;

  &__right {
    display: none;
  }

  &__title {
    font-family: "Roboto-Regular", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  &__text {
    font-family: "Roboto-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  &__icons {
    &-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 20px;
    }

    &-item {
      margin-bottom: 30px;
    }
  }

  &__form {

    &-wrapper {
      margin-top: 30px;
    }

    &-text {
      &-input {
        background-color: white;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #cccccc;
        border-radius: 10px;
        height: 52px;
        max-width: 280px;

        &::-webkit-input-placeholder {
          color: $black;
          text-align: left;
          font-size: 16px;
          @include robotoRegular;
        }
      }
    }

    &-btn {
      @include link-btn;
      padding: 10px 20px;

      &-wrapper {
        width: fit-content;
        margin-top: 40px;
      }
    }
  }
}

@media(min-width: 1024px) {
  .mobile {
    padding: 100px 50px 0 50px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      font-weight: 300;
      font-size: 48px;
      line-height: 56px;
    }

    &__text {
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
    }

    &__icons {
      &-wrapper {
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 75px;
      }

      &-item {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }

    &__left {
      max-width: 430px;
    }

    &__form {
      &-wrapper {
        margin-bottom: 100px;
      }

      &-btn {
        padding: 15px 20px;
      }
    }

    &__right {
      //background-image:  url("/static/images/mobile-tag.png");
      //background-size: contain;
      //background-repeat: no-repeat;
      //width: 450px;
      //height: auto;
      display: flex;
      align-items: flex-end;
      margin-left: 40px;
      position: relative;
    }

    &__img {
      object-fit: contain;
    }
  }
}

@media(min-width: 1366px) {
  .mobile {
    display: flex;
    justify-content: center;
    &__wrapper {
      width: 1266px;
      max-width: 1266px;
    }
  }
}
