.pay-system {
  margin: $baseMargin auto 0;
  max-width: 400px;

  &__title {
    @include robotoLight;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    color: $black;
    font-size: 20px;
  }

  &__list {
    margin-top: $baseMargin;
    list-style: none;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__image-wrapper {

     & svg {
       height: 40px;
       width: 70px;
     }
  }
}
@media (min-width: 1024px) {
  .pay-system {
    max-width: 900px;
    &__title {
      width: 100%;
      text-align: center;
    }
  }
}
