.pay-without-entering {
  padding: 50px 20px;
  margin: 0;
  background: linear-gradient(180deg, #0C3682 0%, #0C0E82 100%);

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &-title {
      @include robotoLight;
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    &-choose {
      display: flex;

      &-btn {
        @include robotoRegular;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: white;
        background: none;
        border: none;
        padding: 0;
        margin-right: 40px;
        outline: none;
        cursor: pointer;

        &.active {
          color: #7EC152;
        }
      }
    }

    &-inputs {
      width: 100%;
    }

    &-text {
      @include robotoRegular;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: white;
      margin-bottom: 10px;

      &-input {
        background-color: white;
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #cccccc;
        border-radius: 10px;
        height: 52px;
        max-width: 280px;

        &::-webkit-input-placeholder {
          color: $black;
          text-align: left;
          font-size: 16px;
          @include robotoRegular;
        }
      }

      &-wrapper {
        margin-top: 30px;
        width: 100%;
      }
    }

    &-btn-pay {
      margin-top: 40px;

      @include link-btn;
      padding: 10px 20px;

      &-wrapper {
        width: fit-content;
      }
    }
  }
}

@media(min-width: 1024px) {
  .pay-without-entering {
    align-items: center;
    justify-content: center;
    display: flex;

    &__form {
      max-width: 550px;
      justify-content: center;
      align-items: flex-start;

      &-title {
        font-size: 36px;
        line-height: 42px;
      }

      &-text {
        margin: 0;

        &-wrapper {
          margin-top: 0;
          width: fit-content;
          margin-right: 20px;
        }

        &-input {
          max-width: 350px;
          width: 350px;
        }
      }

      &-inputs {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
      }

      &-choose {
        order: 4;
        margin-top: 20px;
      }

      &-btn-pay {
        margin: 0;
        padding: 15px 30px;
      }
    }
  }
}

