.review {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 50px;

  &__slider {
    margin-top: 30px;

    &-title {
      padding: 0 30px;
      margin-bottom: $baseMargin;
      text-align: center;
      @include robotoThin;
      color: $black;
      font-size: 22px;
    }

    &-text,
    &-email {
      text-align: center;
      @include robotoRegular;
      color: #303239;;
    }

    &-email {
      margin-bottom: 20px;
    }

    &-item {
      padding: 0 30px;
      outline: none;
    }
  }
}

.slick {
  &-track {
    display: flex;
  }

  &-list {
    overflow-x: hidden;
    height: 200px;
    margin-bottom: 20px;
  }

  &-arrow {
    display: none !important;
  }

  &-dots {
    list-style: none;
    display: flex !important;
    justify-content: center;
    padding: 0;

    & .slick-active {
      & button {
        background-color: #b3b3b3;
      }
    }

    & li {
      & button {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: #e5e5e5;
        color: transparent;
      }

      &:not(:nth-last-of-type(1)) {
        margin-right: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  //какой то фиерический костыль
  .slick {
    &-list {
      height: auto;
      overflow-y: hidden;
    }

    &-slide {
      .review__slider-item {
        opacity: 0.5;
      }
    }
  }
  .slick-active ~ .slick-active {
    .review__slider-item {
      border: 1px solid #cccccc;
      border-radius: 5px;
      opacity: 1;
    }
  }
  .slick-active ~ .slick-active ~ .slick-active {
    .review__slider-item {
      border: none;
      opacity: 0.6;
    }
  }
  //закончился костыль
  .review {
    max-width: 100%;

    &__slider {
      &-item {
        padding: 10px;
      }
    }
  }
}
